.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-family: Arial, sans-serif;
} 
.lista {
    background-color: #EDF3FA;
    width: 80%;
    padding: 30px 80px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-size: 20px;
}

.lista h2{
    margin: 0;
}

.eliminar {
    background-color: #3B2461;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.eliminar:hover {
    background-color: #241749;
}
.formulario {
    background-color: #DCE3EB;
    padding: 15px 20px;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 50px;
}
.campo{
    margin-bottom: 15px;
}
.campo label {
    font-size: 20px;
    margin-bottom: 5px;
}

.formulario select {
    display: block;
    width: 400px;
    padding: 6px 10px;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.crear {
    margin-left: auto;
    display: block;
    width: 200px;
    background-color: #1E3656;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.crear:hover {
    background-color: #00bbff;
}

.formulario input[type="number"]{
    display: block;
    width: 380px;
    padding: 6px 10px;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
