{%extends './menu-admin.html'%}
{%block title%}Administrar Areas{%endblock%}
{%block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin-areas.css') }}">
<div class="contenedor">
  <div class="lista">
    <h2>Competencias creadas: </h2>
    {% for competencia in data %}
    <div class="fila">
      <div class="info">
        <span class="curso">{{ competencia.grado }}</span>
        <span class="area">- {{ competencia.area }}</span>
        <span class="categoria">- {{ competencia.categoria }}</span>
      </div>
      <form action="{{ url_for('eliminar_competencia') }}" method="POST">
        <input type="hidden" name="id" value="{{ competencia.id_competencia }}">
        <button type="submit" class="eliminar">Eliminar</button>
      </form>
    </div>
    {% endfor %}
  </div>

  <form class="formulario" action="{{ url_for('registrar_area') }}" method="POST">
    <label>Crear Competencia:</label>

    <select name="curso" id="curso">
      <option value="3ro de Primaria">3ro Primaria</option>
      <option value="4to de Primaria">4to Primaria</option>
      <option value="5to de Primaria">5to Primaria</option>
      <option value="6to de Primaria">6to Primaria</option>
      <option value="1ro Secundaria">1ro Secundaria</option>
      <option value="2do Secundaria">2do Secundaria</option>
      <option value="3ro Secundaria">3ro Secundaria</option>
      <option value="4to Secundaria">4to Secundaria</option>
      <option value="5to Secundaria">5to Secundaria</option>
      <option value="6to Secundaria">6to Secundaria</option>
    </select>

    <select name="area" id="area">
      <option value="Astronomia-Astrofisica">Astronomía-Astrofísica</option>
      <option value="Biologia">Biología</option>
      <option value="Fisica">Física</option>
      <option value="Informatica">Informática</option>
      <option value="Matematicas">Matemáticas</option>
      <option value="Quimica">Química</option>
      <option value="Robotica">Robótica</option>
    </select>

    <select name="categoria" id="categoria">
      <option value="3P">3P</option>
      <option value="4P">4P</option>
      <option value="5P">5P</option>
      <option value="6P">6P</option>
      <option value="1S">1S</option>
      <option value="2S">2S</option>
      <option value="3S">3S</option>
      <option value="4S">4S</option>
      <option value="5S">5S</option>
      <option value="6S">6S</option>
      <option value="Guacamayo">Guacamayo</option>
      <option value="Guanaco">Guanaco</option>
      <option value="Londra">Londra</option>
      <option value="Jucumari">Jucumari</option>
      <option value="Bufeo">Bufeo</option>
      <option value="Puma">Puma</option>
      <option value="Primer Nivel">Primer Nivel</option>
      <option value="Segundo Nivel">Segundo Nivel</option>
      <option value="Tercer Nivel">Tercer Nivel</option>
      <option value="Cuarto Nivel">Cuarto Nivel</option>
      <option value="Quinto Nivel">Quinto Nivel</option>
      <option value="Sexto Nivel">Sexto Nivel</option>
      <option value="Builders P">Builders P</option>
      <option value="Builders S">Builders S</option>
      <option value="Lego P">Lego P</option>
      <option value="Lego S">Lego S</option>
    </select>

    <input type="submit" value="Crear" class="crear">

  </form>
</div>
{%endblock content%}