{%extends './menu-admin.html'%}
{%block title%}Administrar Competencia{%endblock%}
{%block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin-competencia.css') }}">


<form method="POST" action="{{ url_for('admincompetencia') }}">
<div class="contenido">
    <div class="bloque">
      <h2>PROCESO DE INSCRIPCIÓN</h2>
      <div class="fechas">
        <div>
          <label>Fecha de inicio:</label>
          <input type="date" name="fechaIniIns" value="{{ fechas.inscripcion.inicio }}">
        </div>
        <div>
          <label>Fecha de finalizacion:</label>
          <input type="date" name="fechaFinIns" value="{{ fechas.inscripcion.fin }}">
        </div>
      </div>
    </div>
  
    <div class="bloque">
      <h2>PROCESO DE VALIDACIÓN DE INSCRIPCIÓN</h2>
      <div class="fechas">
        <div>
          <label>Fecha de inicio:</label>
          <input type="date" name="fechaIniVal" value="{{ fechas.validacion.inicio }}">
        </div>
        <div>
          <label>Fecha de finalizacion:</label>
          <input type="date" name="fechaFinVal" value="{{ fechas.validacion.fin }}">
        </div>
      </div>
    </div>
  
    <div class="bloque">
      <h2>PROCESO DE PAGOS DE INSCRIPCIÓN</h2>
      <div class="fechas">
        <div>
          <label>Fecha de inicio:</label>
          <input type="date" name="fechaIniPag" value="{{ fechas.pagos.inicio }}">
        </div>
        <div>
          <label>Fecha de finalizacion:</label>
          <input type="date" name="fechaFinPag" value="{{ fechas.pagos.fin }}">
        </div>
      </div>
    </div>
  
    <div class="bloque">
      <h2>PERIODO DE COMPETENCIA</h2>
      <div class="fechas">
        <div>
          <label>Fecha de inicio:</label>
          <input type="date" name="fechaIniComp" value="{{ fechas.competencia.inicio }}">
        </div>
        <div>
          <label>Fecha de finalizacion:</label>
          <input type="date" name="fechaFinComp" value="{{ fechas.competencia.fin }}">
        </div>
      </div>
    </div>
  </div>
  
  <div class="contenedor-boton">
    <button class="boton" type="submit">Guardar</button>
  </div>
  <script>
  function cerrarModal() {
    document.getElementById("modalExito").style.display = "none";
  }

  window.onload = function() {
    {% if exito %}
    document.getElementById("modalExito").style.display = "block";
    {% endif %}
  }
</script>


  </form>
  <!-- Modal de éxito -->
<div class="modal-exito" id="modalExito" style="display: none;">
    <div class="contenido-modal">
        <span class="cerrar-modal" onclick="cerrarModal()">&times;</span>
        <h2>¡Éxito!</h2>
        <p>Las fechas de los periodos de inscripción se guardaron correctamente.</p>
    </div>
</div>



{%endblock content%}