<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/competidor.css') }}">
    <title></title>
</head>
<body>
    <script src="https://kit.fontawesome.com/a09bd82edd.js" crossorigin="anonymous"></script>
    <header>
        <div class="logo">
            <img src="{{url_for('static', filename='images/logo-sansi.png')}}" alt="" />
            <h1 class="oh-sansi"><a href="{{url_for('home')}}">Oh! Sansi</a></h1>
        </div>
        <nav>
            <a href="" id="compet">Competidor</a>
            <i class="fa-solid fa-circle-user"></i>
        </nav>
    </header>

    <h2 class="titulo">Estado de la inscripción</h2>

    <div class="card shadow">
        <label for="competencia">Seleccione su competencia:</label>
        
        <select id="competencia" onchange="mostrarDetallesCompetencia()">
            <option value="" selected disabled>Seleccione una competencia</option>
            {% for comp in competencias %}
                <option value="{{ loop.index0 }}" data-area="{{ comp.area }}" data-categoria="{{ comp.categoria }}" data-grado="{{ comp.grado }}">
                    {{ comp.area }} - {{ comp.categoria }} ({{ comp.grado }})
                </option>
            {% endfor %}
        </select>

        <p><strong>Nombre:</strong> {{ competidor.nombre }}</p>
        <p><strong>Apellidos:</strong> {{ competidor.apellido }}</p>
        <p><strong>Área:</strong> <span id="area-competencia">-</span></p>
        <p><strong>Categoría:</strong> <span id="categoria-competencia">-</span></p>
        <p><strong>Grado:</strong> <span id="grado-competencia">-</span></p>
        <p><strong>Estado de Inscripción:</strong> {{ competidor.estado }}</p>
    </div>

    <div class="mensaje">
        <label for="msg">Mensajes para mí:</label>
        <div class="cuadro-mensaje">
            
        </div>
    </div>

    <script>
        function mostrarDetallesCompetencia() {
            const selectElement = document.getElementById('competencia');
            const selectedOption = selectElement.options[selectElement.selectedIndex];
            
            if (selectedOption.value !== "") {
                // Obtener datos de la opción seleccionada
                const area = selectedOption.dataset.area;
                const categoria = selectedOption.dataset.categoria;
                const grado = selectedOption.dataset.grado;
                
                // Actualizar los campos en la página
                document.getElementById('area-competencia').textContent = area;
                document.getElementById('categoria-competencia').textContent = categoria;
                document.getElementById('grado-competencia').textContent = grado;
            }
        }
    </script>
</body>
</html>