{%extends './menu-home.html'%}
{%block title%}Inscribirse{%endblock%}
{%block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form-competidor.css') }}">
<div class="formulario">
    <h2 id="titFormulario">FORMULARIO DE INSCRIPCIÓN</h2>
    <h2 class="comp">COMPETIDOR</h2>
    <div class="campos">
        <div class="seccion1">
            <p>Nombres: </p>
            <input type="text" name="nombres" id="">
            <p>Apellidos: </p>
            <input type="text" name="apellidos" id="">
            <p>Fecha de nacimeinto: </p>
            <input type="date" name="fechaNacimiento" id="">
            <p>Carnet de identidad:</p>
            <input type="text" name="ci" id="">
            <p>Correo electrónico: </p>
            <input type="email" name="email" id="">
            <p>Número de celular: </p>
            <input type="text" name="numCelular" id="">
            <p>Colegio: </p>
            <input type="text" name="colegio" id="">
            <p>Curso: </p>
            <select name="curso" id="">
                <option value="1">1ro Secundaria</option>
                <option value="2">2do Secundaria</option>
                <option value="3">3ro Secundaria</option>
                <option value="4">4to Secundaria</option>
                <option value="5">5to Secundaria</option>
                <option value="6">6to Secundaria</option>
            </select>
        </div>
        <div class="seccion2">
            <p>Provincia: </p>
            <input type="text" name="provincia" id="">
            <p>Departamento: </p>
            <select name="curso" id="">
                <option value="1">Cochabamba</option>
                <option value="2">Santa Cruz</option>
                <option value="3">La Paz</option>
                <option value="4">Chuquisaca</option>
                <option value="5">Tarija</option>
                <option value="6">Oruro</option>
                <option value="7">Potosi</option>
                <option value="8">Beni</option>
                <option value="9">Pando</option>
            </select>
            <p>Área: </p>
            <select name="area" id="">
                <option value="1">Astronomía-Astrofísica</option>
                <option value="2">Biología</option>
                <option value="3">Física</option>
                <option value="4">Informática</option>
                <option value="5">Matemáticas</option>
                <option value="6">Química</option>
                <option value="7">Robótica</option>
            </select>
            <p>Categoría: </p>
            <select name="categoría" id="">
                <option value="1">opciones</option>
            </select>
            <h2>TUTOR</h2>
            <p>Seleccionar tutor: </p>
            <select name="tutor" id="">
                <option value="1">Código1</option>
                <option value="2">Código2</option>
            </select> 
            <div class="datos">
                <label>Datos del tutor</label>
            </div>
            <div class="botones">
                <input type="reset" value="Cancelar" onclick="location.href='{{ url_for('home') }}'">
                <input type="submit" value="Guardar">
            </div>
        </div>
    </div>
</div>
{%endblock%}