{% extends './menu-home.html' %}
{% block title %}Tutor{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tutor.css') }}">
<div class="contenido">
    <div class="paneles">
      <div class="seccion1">
        <h2>Estudiantes pendientes de validación:</h2>
        <p>{{tutor_id}}</p>
        {%for competidor in data%}
        <div class="entrada">
            <label>{{competidor.nombre}} {{competidor.apellido}}</label>
            <form class="acciones" action="{{ url_for('validar_competidor') }}" method="POST">
                <input type="hidden" name="id_competidor" value="{{competidor.id_competidor}}">
                <a class="btn btn-fail">
                  <i class="bi bi-x-circle" id="nope"></i>
                </a>
                <button type="submit" id="ok"> <i class="bi bi-check-circle" id="ok"></i></button>
            </form>
        </div>
        {%endfor%}
      </div>
      <div class="seccion2">
        <h2>Estudiantes inscritos:</h2>
        {%for competidor in data2%}
        <div class="entrada">
          <label>{{competidor.nombre}} {{competidor.apellido}}</label>
        </div>
        {%endfor%}
      </div>
    </div>
        <a href="{{url_for('inscribirse')}}" class="boton">Inscribir a un estudiate</a>
    </div>
     
  <div id="modalMotivo" class="modal-motivo">
  <div class="modal-contenido">
    <h3>Mensaje para el competidor rechazado</h3>
    <form action="{{ url_for('rechazar_competidor') }}" method="POST">
      <input type="hidden" name="id_competidor" id="id_competidor_modal">
      <textarea name="motivo" rows="4" placeholder="Escriba el mensaje para el competidor..." required></textarea>
      <div class="modal-botones">
        <button type="submit">Enviar</button>
        <button type="button" onclick="cerrarModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>

{% if session.get('restriccion_global') %}
  <div id="modalPeriodo" class="modal">
    <div class="modal-contenido">
      <span class="cerrar" onclick="cerrarModalPeriodo()">&times;</span>
      <h2>Acción no permitida</h2>
      <p>{{ session['restriccion_global'] }}</p>
    </div>
  </div>

  <script>
    function cerrarModalPeriodo() {
      document.getElementById("modalPeriodo").style.display = "none";
    }
    window.onload = function() {
      document.getElementById("modalPeriodo").style.display = "block";
    };
  </script>
{% endif %}


<script>
  const modal = document.getElementById("modalMotivo");
  const idInput = document.getElementById("id_competidor_modal");

  document.querySelectorAll('.btn-fail').forEach(btn => {
    btn.addEventListener('click', function(event) {
      event.preventDefault();
      const input = this.parentElement.querySelector('input[name="id_competidor"]');
      if (input) {
        idInput.value = input.value;
        modal.style.display = "flex";
      }
    });
  });

  function cerrarModal() {
    modal.style.display = "none";
  }
</script>
{% endblock %}